
html {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
	background: #eaeaea;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
	font-size: 3rem;
    flex-grow: 1;
    transition: 0.5s color;
}

p {
    flex-grow: 3;
    transition: 0.5s color;
}

footer {
    font-size: .8rem;
    flex-grow: 0;
    padding-bottom: 1rem;
}
